/* Estilização de Produto 1 */

/* Estilos para o contêiner principal */
main {
  display: flex;
}

/* Estilos para a barra de navegação */
nav {
  height: 760px;
  position: sticky;
  top: 8px;
}

/* Estilos para a barra lateral */
.sidebar {
  background-color: #154b52;
  width: 355px;
  height: 98%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sidebar ul a {
  position: relative;
  text-decoration: none;
  display: block;
  color: #ffffff;
  padding: 15px 20px;
  font-size: 20px;
}

.sidebar ul a li i {
  margin-right: 15px;
}

.sidebar ul a:nth-child(2)::after,
.sidebar ul a:nth-child(3)::after {
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: 9px;
  color: #fff;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  border-radius: 3px;
}

.sidebar ul a:hover,
.sidebar ul a.active {
  background-color: #161920;
  color: #fff;
}

.sidebar ul a:hover::before,
.sidebar ul a.active::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
}

/* Estilos para a faixa */
#faixa {
  width: 100%;
  height: 40px;
  margin: 0;
  background-color: #a52502;
}

/* Estilos para as imagens na barra lateral */
a.imagem img {
  margin: 0;
  padding: 0;
  font-size: 0;
  margin-bottom: -5px;
}

.conteudo-com-tabela {
  width: 100%;
}

th:parent {
  position: sticky;
  top: 0;
}

th {
  background-color:#154b52;
}

th, td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 300px;
}

.error-msg {
  padding: 10px;
 background-color: #FF6347;
}
